@use "global" as *;
.works__swiper--box {
  // size
  width: 100%;
  @include mq(md) {
    // ajustment
    position: absolute; // -> works__contents--inner
    top: 50%;
    left: 0%;
    transform: translate(-56%, -47%);
  }
  @include mq(xl) {
  }
}
